<!DOCTYPE html>
<html>
	<%- include('includes/head')%>
	<body class="dark-bg">
		<%- include('includes/nav')%>

		<div class="jumbotron jumbotron-fluid cover">
	  		<div id="header" class="container">
	  			<%- messages() %>
	  			
	    		<h1>Welcome to QuickNote</h1>
	   			<p>Easy notes, everywhere.</p>
				<br>
	 		</div>
		</div>
		<div class="container">
			<div class="row">
				<div class= "col-lg-5 col-lg-offset-5 text-area">
				<h2><b>Features</b></h2>
				<p class="readmore-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lobortis interdum. Integer vel gravida nibh. Curabitur blandit, sapien vitae efficitur laoreet, massa nibh porta magna, eu auctor augue urna in libero. Ut eget luctus ligula. Sed interdum elit venenatis, ultricies ligula non, condimentum ligula. Vivamus non dui sit amet nibh malesuada facilisis. Aliquam ultrices blandit lacus. Aliquam accumsan orci eu elit placerat, ut lacinia elit commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sagittis erat. Fusce et hendrerit arcu. Etiam pharetra nunc vel elit efficitur, ac ultricies lectus interdum. Donec auctor pellentesque urna, a sodales orci cursus eget. Donec auctor quis orci vitae pretium.</p>
			</div>

			<div class= "col-lg-5  text-area">
				<h2><b>Future Updates</b></h2>
				<p class="readmore-400"> Etiam pharetra nunc vel elit efficitur, ac ultricies lectus interdum. Donec auctor pellentesque urna, a sodales orci cursus eget. Donec auctor quis orci vitae pretium.Etiam pharetra nunc vel elit efficitur, ac ultricies lectus interdum. Donec auctor pellentesque urna, a sodales orci cursus eget. Donec auctor quis orci vitae pretium.Etiam pharetra nunc vel elit efficitur, ac ultricies lectus interdum. Donec auctor pellentesque urna, a sodales orci cursus eget. Donec auctor quis orci vitae pretium.Etiam pharetra nunc vel elit efficitur, ac ultricies lectus interdum. Donec auctor pellentesque urna, a sodales orci cursus eget. Donec auctor quis orci vitae pretium.</p>
			</div>
		</div>
		</div>
		<%- include('includes/footer') %>
		<%- include('includes/scripts') %>
	</body>
</html>


