<!DOCTYPE html>
<html>
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div class="container" style="padding-top:100px">
      <form method="post" action="/users/resetPassword/<%= locals.resetToken %>" class="form-signin"> 
        <%- messages() %>
        <div style="text-align: center">
            <img class="profile-pic" src='http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif'>
        </div>
        <h2 class="form-signin-heading text-center">Hello, <%= user.username %></h2>
        <br>
        <p>Please reset your password in the form below.</p>
        <p class="small"><span class="glyphicon glyphicon glyphicon-question-sign"></span>
        Password must contain 6 or more character, a letter and a number, and no special characters.</p>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></div>
            <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
          </div>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></div>
             <input type="password" name="password2" class="form-control" placeholder="Password Confirmation" required>
          </div>
          <button class="btn btn-lg btn-success btn-block" type="submit">Change Password</button>

      </form>
    <%- include('includes/scripts') %>
</body>
</html>
