<!DOCTYPE html>
<html>
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div class="container" style="padding-top: 30px">

    <%- messages() %>
      <form method="post" action="/users/signup" class="form-signin">
        <h2 class="form-signin-heading text-center">User Registration</h2>
        <input type="text" name="name" class="form-control" placeholder="Name" value="<%= (!!locals.name)?name:'' %>"  autofocus>
        <br>
        <input type="text" name="email" class="form-control" placeholder="Email" value="<%= (!!locals.email)?email:'' %>"  autofocus>
        <br>
        <input type="password" name="password" class="form-control" placeholder="Password" value="<%= (!!locals.password)?password:'' %>" >
        <br>
        <input type="password" name="password2" class="form-control" placeholder="Password Confirmation" value="<%= (!!locals.password2)?password2:'' %>" >
        <br>
        
        <button id="signupBtn" class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
        <br>
        <p>Already registered? <a href="/users/login">Login</a></p>
      </form>
      <div id="alert" class=""></div>
    </div>
    <%- include('includes/scripts') %>
</body>
</html>
